.cursor {
    display: inline-block;
    vertical-align: text-bottom;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
